.chat-main
  .chat-main__group-info
    .group-info
      .group-info__left
        .group-info__left--top
          test
        .group-info__left--bottom
          Member:masa
      = link_to edit_group_path(current_user), class: "group-info__right" do
        edit
  .chat-main__message-list
    .message-list
      .a-message
        .a-message__header
          .a-message__header--name
            masa
          .a-message__header--date
            2019/11/10(Wed)
        .a-message__message
          おはよう
      .a-message
        .a-message__header
          .a-message__header--name
            masa
          .a-message__header--date
            2019/11/10(Wed)
        .a-message__message
          今日は夜から雨
  .chat-main__message-form
    .message-form
      .message-form__text-area
        %input{type: "text_filed", placeholder: "type a message", class: "message-form__text-area--text"}
        %label{class: "message-form__text-area--image"}
          = icon('fas', 'image', class: "image-icon")
          %input{type: "file", class: "image-file"}
      %input{type: "submit", value: "Send", class: "message-form__send-btn"}