.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons--edit" do
          = icon('far', 'edit', class: "top-items__icons--icon")
        = link_to "#" do
          = icon('fas', 'cog', class: "top-items__icons--icon")
  .side-bar__group-list
    .group-select
      .group-select__group-name
        techchamp
      .group-select__message
        まだメッセージがありません
